--extra-index-url https://download.pytorch.org/whl/cu118
numpy >= 1.12.1
scipy >= 1.0.1
torch >= 2.0.0
accelerate == 0.18.0
bitsandbytes == 0.37.2
peft == 0.3.0
transformers == 4.29.1
datasets
zstandard
jsonlines
wandb
openai
sentencepiece
fire
