gen1000.jsonl filter=lfs diff=lfs merge=lfs -text
gen3000.jsonl filter=lfs diff=lfs merge=lfs -text
output.json filter=lfs diff=lfs merge=lfs -text
train.jsonl filter=lfs diff=lfs merge=lfs -text
val.jsonl filter=lfs diff=lfs merge=lfs -text
gen6000.jsonl filter=lfs diff=lfs merge=lfs -text
gen9000.jsonl filter=lfs diff=lfs merge=lfs -text
data/output.json filter=lfs diff=lfs merge=lfs -text
data/vicuna_saiga30b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_saiga30b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_saiga7b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_rualpaca13b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_rualpaca7b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_rualpaca13b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_rualpaca7b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_turbo_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_turbo_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_gpt4_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_gpt4_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga30bq4_1_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_saiga30bq4_1_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga30b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_saiga7b_v4_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_saiga13b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga7b_v2_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga7b_v4_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_den4ik_fred_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_den4ik_fred_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_den4ik_fred_new_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_den4ik_fred_new_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga13b_v2_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_saiga13b_v2_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga13b_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga7b_v5_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_saiga7b_v5_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga7b_fast_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_saiga7b_fast_answer.jsonl filter=lfs diff=lfs merge=lfs -text
data/user_v2_saiga30b_v2_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_saiga30b_v2_answers.jsonl filter=lfs diff=lfs merge=lfs -text
