data/user_oriented_ru.jsonl filter=lfs diff=lfs merge=lfs -text
data/output.json filter=lfs diff=lfs merge=lfs -text
data/user_oriented_ru_v2.jsonl filter=lfs diff=lfs merge=lfs -text
data/vicuna_question_ru.jsonl filter=lfs diff=lfs merge=lfs -text
data/*_answers.jsonl filter=lfs diff=lfs merge=lfs -text
data/*_answer.jsonl filter=lfs diff=lfs merge=lfs -text
data/*_answers.json filter=lfs diff=lfs merge=lfs -text
data/*_answer.json filter=lfs diff=lfs merge=lfs -text
data/tasks.jsonl filter=lfs diff=lfs merge=lfs -text
data/gpt4_evals/*.jsonl filter=lfs diff=lfs merge=lfs -text
models/lid.176.bin filter=lfs diff=lfs merge=lfs -text
data/saiga_bot_user_multiturn_prompts.jsonl filter=lfs diff=lfs merge=lfs -text
